<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>-000-</string>
		<key>png</key>
		<string>f_static_000</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-001-</string>
		<key>png</key>
		<string>f_static_001</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-002-</string>
		<key>png</key>
		<string>f_static_002</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-003-</string>
		<key>png</key>
		<string>f_static_003</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-004-</string>
		<key>png</key>
		<string>f_static_004</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-005-</string>
		<key>png</key>
		<string>f_static_005</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-006-</string>
		<key>png</key>
		<string>f_static_006</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-007-</string>
		<key>png</key>
		<string>f_static_007</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-008-</string>
		<key>png</key>
		<string>f_static_008</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-009-</string>
		<key>png</key>
		<string>f_static_009</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-010-</string>
		<key>png</key>
		<string>f_static_010</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-011-</string>
		<key>png</key>
		<string>f_static_011</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-012-</string>
		<key>png</key>
		<string>f_static_012</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-013-</string>
		<key>png</key>
		<string>f_static_013</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-014-</string>
		<key>png</key>
		<string>f_static_014</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-015-</string>
		<key>png</key>
		<string>f_static_015</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-016-</string>
		<key>png</key>
		<string>f_static_016</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-017-</string>
		<key>png</key>
		<string>f_static_017</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-018-</string>
		<key>png</key>
		<string>f_static_018</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-019-</string>
		<key>png</key>
		<string>f_static_019</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>-020-</string>
		<key>png</key>
		<string>f_static_020</string>
	</dict>
    <dict>
        <key>cht</key>
        <string>-021-</string>
        <key>png</key>
        <string>f_static_021</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-022-</string>
        <key>png</key>
        <string>f_static_022</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-023-</string>
        <key>png</key>
        <string>f_static_023</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-024-</string>
        <key>png</key>
        <string>f_static_024</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-025-</string>
        <key>png</key>
        <string>f_static_025</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-026-</string>
        <key>png</key>
        <string>f_static_026</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-027-</string>
        <key>png</key>
        <string>f_static_027</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-028-</string>
        <key>png</key>
        <string>f_static_028</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-029-</string>
        <key>png</key>
        <string>f_static_029</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-030-</string>
        <key>png</key>
        <string>f_static_030</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-031-</string>
        <key>png</key>
        <string>f_static_031</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-032-</string>
        <key>png</key>
        <string>f_static_032</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-033-</string>
        <key>png</key>
        <string>f_static_033</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-034-</string>
        <key>png</key>
        <string>f_static_034</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-035-</string>
        <key>png</key>
        <string>f_static_035</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-036-</string>
        <key>png</key>
        <string>f_static_036</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-037-</string>
        <key>png</key>
        <string>f_static_037</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-038-</string>
        <key>png</key>
        <string>f_static_038</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-039-</string>
        <key>png</key>
        <string>f_static_039</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-040-</string>
        <key>png</key>
        <string>f_static_040</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-041-</string>
        <key>png</key>
        <string>f_static_041</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-042-</string>
        <key>png</key>
        <string>f_static_042</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-043-</string>
        <key>png</key>
        <string>f_static_043</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-044-</string>
        <key>png</key>
        <string>f_static_044</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-045-</string>
        <key>png</key>
        <string>f_static_045</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-046-</string>
        <key>png</key>
        <string>f_static_046</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-047-</string>
        <key>png</key>
        <string>f_static_047</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-048-</string>
        <key>png</key>
        <string>f_static_048</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-049-</string>
        <key>png</key>
        <string>f_static_049</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-050-</string>
        <key>png</key>
        <string>f_static_050</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-051-</string>
        <key>png</key>
        <string>f_static_051</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-052-</string>
        <key>png</key>
        <string>f_static_052</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-053-</string>
        <key>png</key>
        <string>f_static_053</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-054-</string>
        <key>png</key>
        <string>f_static_054</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-055-</string>
        <key>png</key>
        <string>f_static_055</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-056-</string>
        <key>png</key>
        <string>f_static_056</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-057-</string>
        <key>png</key>
        <string>f_static_057</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-058-</string>
        <key>png</key>
        <string>f_static_058</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-059-</string>
        <key>png</key>
        <string>f_static_059</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-060-</string>
        <key>png</key>
        <string>f_static_060</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-061-</string>
        <key>png</key>
        <string>f_static_061</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-062-</string>
        <key>png</key>
        <string>f_static_062</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-063-</string>
        <key>png</key>
        <string>f_static_063</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-064-</string>
        <key>png</key>
        <string>f_static_064</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>-065-</string>
        <key>png</key>
        <string>f_static_065</string>
    </dict><dict>
        <key>cht</key>
        <string>-066-</string>
        <key>png</key>
        <string>f_static_066</string>
    </dict>
</array>
</plist>
